PORT=3000
NODE_ENV=development
# Para desarrollo local fuera de Docker:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tareas"
# Para Docker Compose, esta variable se sobreescribe automáticamente a @db:5432
DATABASE_URL="postgresql://<usuario>:<contraseña>@<host>:<puerto>/<nombre_db>"
