DATABASE_URL="postgresql://<usuario>:<contraseña>@<host>:<puerto>/<nombre_db>"

PORT=3000
NODE_ENV=development

LOKI_AUTH="<user_id>:<token>"
LOKI_URL="https://<loki-host>"

OTEL_EXPORTER_OTLP_ENDPOINT="https://<otlp-gateway-host>/otlp"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic <base64_token>"
OTEL_SERVICE_NAME="tareas-api"
